:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-font-color: #212121;
  --secondary-font-color: #757575;
  --extra-font-color: #ffffff;
  --primary-bgc: #ffffff;
  --hero-bgc: #2f303a;
  --footer-bgc: #2f303a;
  --extra-bgc: #f5f4fa;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body {
  background-color: var(--primary-bgc);
  font-family: var(--primary-font);
  color: var(--primary-font-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header-styles */

.header .container {
  display: flex;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;

  background-color: var(--primary-bgc);
  border: 1px solid #ececec;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo {
  color: var(--primary-font-color);
}
.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-font-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}
.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-item + .contacts-item {
  margin-left: 50px;
}
.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}
.header-mail-link:hover,
.header-mail-link:focus {
  color: var(--accent-color);
}
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}
.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--accent-color);
}

/* studio-sections-styles */

.hero {
  background-color: var(--hero-bgc);
  text-align: center;
}
.hero .container {
  padding: 200px 252px;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--extra-font-color);
}
.hero-modal-btn {
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--extra-font-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.about-us.section {
  padding-bottom: 47px;
}
.about-us-list {
  display: flex;
  flex-wrap: wrap;
}
.about-item {
  flex-basis: calc(100% / 4 - 30px);
}
.about-item + .about-item {
  margin-left: 30px;
}
.about-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-font-color);
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}
.our-occupation.section {
  padding-top: 47px;
}
.occupation-list {
  display: flex;
}
.occupation-item:not(:last-child) {
  margin-right: 30px;
}
.occupation-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}
.our-team {
  background-color: var(--extra-bgc);
}
.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}
.team-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--primary-bgc);
}
.team-item-wrapper {
  padding-top: 30px;
}
.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}
.team-item-text {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

/* portfolio-sections-styles */

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.buttons-list-item + .buttons-list-item {
  margin-left: 8px;
}
.modal-button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
  background-color: #f5f4fa;
  cursor: pointer;
}
.modal-button:hover,
.modal-button:focus {
  color: var(--extra-font-color);
  background-color: var(--accent-color);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.portfolio-item-content-wrapper {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
}
.portfolio-item-title {
  margin-bottom: 4px;
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-font-color);
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

/* footer-styles */

.footer {
  background-color: var(--footer-bgc);
}
.footer-logo {
  color: var(--extra-font-color);
}
.logo.footer {
  display: block;
  margin-right: 0px;
  margin-bottom: 20px;
  padding-top: 60px;
}
.address-list-item + .address-list-item {
  margin-top: 8px;
}
.address-link {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--extra-font-color);
}
.footer-mail-link {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail-link:hover,
.footer-mail-link:focus {
  color: var(--accent-color);
}
.footer-tel-link {
  display: block;
  padding-bottom: 60px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel-link:hover,
.footer-tel-link:focus {
  color: var(--accent-color);
}
